<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.zgcbd.mapper.INTPackMapper">
    <cache />
    <select id="selectByDpid" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack where dpid = #{dpid}
    </select>
    <select id="selectALL" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack
    </select>
    <select id="selectByTraceId" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack where trace_id = #{traceId}
        order by timebias
    </select>
    <select id="selectALLAriPackages" resultType="java.util.Map">
        select distinct trace_id, data_type, data_size, data_src, data_dst from intpack
        where 0=0
        <if test="dpid != null">
            and dpid = #{dpid}
        </if>
    </select>
    <select id="getINTPack" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack where trace_id = #{traceId} and dpid = #{dpid}
    </select>
</mapper>