<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.zgcbd.mapper.INTPackMapper">
    <cache />
    <select id="selectByDpid" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack where dpid = #{dpid}
    </select>
    <select id="selectALL" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack
    </select>
    <select id="selectByTraceId" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack where trace_id = #{traceId}
    </select>

    <select id="selectALLPackages" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack
        where 0=0
        <if test="traceId != null">
            and trace_id = #{traceId}
        </if>
        <if test="dpid != null">
            and dpid = #{dpid}
        </if>
        <if test="dataType != null">
            and data_type = #{dataType}
        </if>
        <if test="dataSrc != null">
            and data_src = #{dataSrc}
        </if>
        <if test="dataDst != null">
            and data_dst = #{dataDst}
        </if>
    </select>

    <select id="selectALLAriPackages" resultType="com.example.zgcbd.pojo.OriPack">
        select distinct trace_id, data_type, data_size, data_src, data_dst from intpack
        where 0=0
        <if test="traceId != null">
            and trace_id = #{traceId}
        </if>
        <if test="dpid != null">
            and dpid = #{dpid}
        </if>
        <if test="dataType != null">
            and data_type = #{dataType}
        </if>
        <if test="dataSrc != null">
            and data_src = #{dataSrc}
        </if>
        <if test="dataDst != null">
            and data_dst = #{dataDst}
        </if>
    </select>
    <select id="getINTPack" resultType="com.example.zgcbd.pojo.INTPack">
        select * from intpack where trace_id = #{traceId} and dpid = #{dpid}
    </select>

    <select id="getAllDataTypes" resultType="java.lang.Long">
        select distinct data_type from intpack
    </select>

    <select id="getAllSrcIPs" resultType="java.lang.String">
        select distinct data_src from intpack
    </select>

    <select id="getAllDstIPs" resultType="java.lang.String">
        select distinct data_dst from intpack
    </select>

    <insert id="insertPack" parameterType="com.example.zgcbd.pojo.INTPack">
        insert into intpack(content,copy_flag,optclass,`option`,`length`,dpid,data_type,trace_id,data_size,data_src,data_dst,timebias,duration) values
        (
        #{content},
        #{copyFlag},
        #{optclass},
        #{option},
        #{length},
        #{dpid},
        #{dataType},
        #{traceId},
        #{dataSize},
        #{dataSrc},
        #{dataDst},
        #{timebias},
        #{duration}
        )
    </insert>
    
    <select id="countByParams"  resultType="java.lang.Integer">
        select count(*) from intpack
        where 0=0
        <if test="dataType != null">
            and data_type = #{dataType}
        </if>
        <if test="dpid != null">
            and dpid = #{dpid}
        </if>
    </select>
    <select id="sumSizeByParams"  resultType="java.lang.Integer">
        select SUM(data_size) from intpack
        where 0=0
        <if test="dataType != null">
            and data_type = #{dataType}
        </if>
        <if test="dpid != null">
            and dpid = #{dpid}
        </if>
    </select>

</mapper>